<h2>Cliente</h2>
<form name="clientForm" role="form" novalidate #clientForm="ngForm">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-control-label" for="clientFirstNameInput">Primeiro Nome</label>
        <input type="text" class="form-control" name="clientFirstNameInput" id="clientFirstNameInput" [(ngModel)]="client.firstName" placeholder="Primeiro Nome" required/>
        <div [hidden]="!(clientForm.controls.clientFirstNameInput?.dirty && clientForm.controls.clientFirstNameInput?.invalid)">
          <small class="form-text text-danger" [hidden]="!clientForm.controls.clientFirstNameInput?.errors?.required">
            Campo obrigatório.
          </small>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-control-label" for="clientLastNameInput">Último Nome</label>
        <input type="text" class="form-control" name="clientLastNameInput" id="clientLastNameInput" [(ngModel)]="client.lastName" placeholder="Último Nome" required/>
        <div [hidden]="!(clientForm.controls.clientLastNameInput?.dirty && clientForm.controls.clienLastNameInput?.invalid)">
          <small class="form-text text-danger" [hidden]="!clientForm.controls.clientLastNameInput?.errors?.required">
            Campo obrigatório.
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-control-label" for="clientNifInput">NIF</label>
        <input type="text" class="form-control" name="clientNifInput" id="clientNifInput" [(ngModel)]="client.nif" placeholder="NIF" required/>
        <div [hidden]="!(clientForm.controls.clientNifInput?.dirty && clientForm.controls.clientNifInput?.invalid)">
          <small class="form-text text-danger" [hidden]="!clientForm.controls.clientNifInput?.errors?.required">
            Campo obrigatório.
          </small>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="form-control-label" for="clientDateOfBirthInput">Data de Nascimento</label>
        <input type="date" class="form-control" name="clientDateOfBirthInput" id="clientDateOfBirthInput" [(ngModel)]="client.dateOfBirth" placeholder="Data de Nascimento" required/>
        <div [hidden]="!(clientForm.controls.clientDateOfBirthInput?.dirty && clientForm.controls.clientDateOfBirthInput?.invalid)">
          <small class="form-text text-danger" [hidden]="!clientForm.controls.clientDateOfBirthInput?.errors?.required">
            Campo obrigatório.
          </small>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h4 id="client-contact-page-heading">
    <span>Contacto</span>
    <button id="new-client-contact-btn" class="btn btn-primary float-right" (click)="addClientContact()">
      <fa-icon [icon]="'plus'"></fa-icon>
      <span>
        Adicionar contacto ao cliente.
      </span>
    </button>
  </h4>
  <br/>
  <div class="table-responsive" *ngIf="client.contacts">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>Contacto</span></th>
        <th><span>Tipo de Contacto</span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let clientContact of client.contacts; let i = index; trackBy: trackId">
        <td>{{clientContact.id}}</td>
        <td>
          <input type="text" class="form-control" name="clientContact-{{i}}" id="clientContact-{{i}}" [(ngModel)]="clientContact.contact" placeholder="Contacto" required/>
        </td>
        <td>
          <select class="form-control" name="clientContactType-{{i}}" [(ngModel)]="clientContact.contactType" id="clientContactType-{{i}}" required>
            <option value="PHONE">Telefone</option>
            <option value="MOBILE">Telemóvel</option>
            <option value="EMAIL">E-mail</option>
          </select>
        </td>
        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteClientContact(clientContact)">
              <fa-icon [icon]="'times'"></fa-icon>
              <span class="d-none d-md-inline"> Eliminar</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <h4 id="client-address-page-heading">
    <span>Morada</span>
    <button id="new-client-address-btn" class="btn btn-primary float-right" (click)="addClientAddress()">
      <fa-icon [icon]="'plus'"></fa-icon>
      <span>
        Adicionar morada ao cliente.
      </span>
    </button>
  </h4>
  <br/>
  <div class="table-responsive" *ngIf="client.addresses">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>Morada</span></th>
        <th><span>Código Postal</span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let clientAddress of client.addresses; let i = index; trackBy: trackId">
        <td>{{clientAddress.id}}</td>
        <td>
          <input type="text" class="form-control" name="clientAddress-{{i}}" id="clientAddress-{{i}}" [(ngModel)]="clientAddress.address" placeholder="Morada" required/>
        </td>
        <td>
          <input type="text" class="form-control" name="clientPostalCode-{{i}}" id="clientPostalCode-{{i}}" [(ngModel)]="clientAddress.postalCode" placeholder="Código Postal" required/>
        </td>
        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteClientAddress(clientAddress)">
              <fa-icon [icon]="'times'"></fa-icon>
              <span class="d-none d-md-inline"> Eliminar</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="clientForm.form.invalid" (click)="saveClient()">
    <fa-icon [icon]="'save'"></fa-icon>
    <span> Guardar</span>
  </button>
</form>
