<form name="deleteForm" (ngSubmit)="clientConfirmDelete(client.id)">
    <div class="modal-header">
        <h4 class="modal-title">Eliminar Cliente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <p id="delete-client-heading">Tem a certeza que deseja eliminar este cliente?</p>
          <ul>
            <li>
              <b>{{client.nif}} - {{client.firstName}} {{client.lastName}}</b>
            </li>
         </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>
        <button id="confirm-delete-client" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Eliminar</span>
        </button>
    </div>
</form>
