<div>
  <h2 id="product-page-heading">
    <span>Produtos</span>
    <button id="new-product-btn" class="btn btn-primary float-right" [routerLink]="['/product/new']">
      <fa-icon [icon]="'plus'"></fa-icon>
      <span>
            Novo Medicamento
          </span>
    </button>
  </h2>
  <br/>
  <div class="table-responsive" *ngIf="products">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><span>ID</span></th>
        <th><span>Medicamento</span></th>
        <th><span>Código de Medicamento</span></th>
        <th><span>Descrição</span></th>
        <th><span>Data de Validade</span></th>
        <th><span>Marca</span></th>
        <th><span>Preço</span></th>
        <th><span>Quantidade</span></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products | orderBy : ['id']; trackBy: trackId">
        <td>{{product.id}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productCode}}</td>
        <td>{{product.desription}}</td>
        <td>{{product.expireDate | date:'medium'}}</td>
        <td>{{product.brand}}</td>
        <td type="number" ng-model="amount">{{product.price | currency:"€"}}</td>
        <td>{{product.quantity}}</td>
        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button type="submit"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary btn-sm">
              <fa-icon [icon]="'pencil-alt'"></fa-icon>
              <span class="d-none d-md-inline"> Editar</span>
            </button>
            <button type="button" (click)="deleteProduct(product)" class="btn btn-danger btn-sm">
              <fa-icon [icon]="'times'"></fa-icon>
              <span class="d-none d-md-inline"> Eliminar</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
